<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081369651120-5vv2hschemqd24ve6oeq5s9099dvi9ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081369651120-5vv2hschemqd24ve6oeq5s9099dvi9ev</string>
	<key>API_KEY</key>
	<string>AIzaSyDWypqXwfNjelAXJq91gjCx2Sa9AsTFZsk</string>
	<key>GCM_SENDER_ID</key>
	<string>1081369651120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vimnws</string>
	<key>PROJECT_ID</key>
	<string>vimnews-f4605</string>
	<key>STORAGE_BUCKET</key>
	<string>vimnews-f4605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081369651120:ios:21200f3afa770330af1875</string>
</dict>
</plist>